@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  max-width: 345px;
  transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1), 
              box-shadow 0.4s ease, 
              background 0.4s ease; /* Smooth transition */
}

/* Darkens the card on hover */
.container:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 25px 0 rgba(4, 21, 45, 0.8);
  background: linear-gradient(180deg, #2e4b96 0%, #0c1d3e 100%); /* Darker shades */
}

.image {
  margin-bottom: 26px;
}

.title {
  font-size: 25px;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  font-size: 25px;
  font-weight: 400;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 25px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 30px;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 1px 22px;
}
